<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3">Listado de Empleados</span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" [routerLink]="['/create-empleado']">Agregar</button>
          </div>
            <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">No hay datos para mostrar, recarga la página o revisa tu conexión a Internet</h5>
          <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.documento }}</td>
                    <td>{{ empleado.salario | currency }}</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editEmpleado/', empleado.id]"></i>
                      <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>